@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.main {
	/* background: #f3e0e2; */
    /* background: #E0ECF8; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
h2{
    font-family: 'Lato', sans-serif;
    color:#81BEF7;
}
table.list {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 3px solid #81BEF7;
    margin : 20px 10px;
  }
  table.list th {
    width: 147px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #81BEF7;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
  
  }
  table.list td {
    width: 349px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-family: 'Noto Sans KR', sans-serif;
    background: white;
  }

  .filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }
  .filebox label {
    display: inline-block;
    padding: .5em .75em;
    color:white;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color:  #136dae;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    
  }
  .filebox .upload-name {
      display: inline-block;
      padding: .5em .75em;  /* label의 패딩값과 일치 */ font-size: inherit;
      font-family: inherit;
      line-height: normal;
      vertical-align: middle;
      background-color: #f5f5f5;
      border: 1px solid #ebebeb;
      border-bottom-color: #e2e2e2;
      border-radius: .25em;
      -webkit-appearance: none; /* 네이티브 외형 감추기 */
      -moz-appearance: none;
      appearance: none;
    }
    #sm {
      display: inline-block;
      position: fixed;
      left: 100px;
      bottom: 900px;
      padding: .5em .90em;
      color: white;
      font-size: inherit;
      line-height: normal;
      vertical-align:right;
      background-color: #136dae;
      cursor: pointer;
      border: 1px solid #ebebeb;
      border-bottom-color: #e2e2e2;
      border-radius: .25em;
  }
  .total_use1{
    color: #333;
	font-size: 14px;
  text-align: right;
	text-decoration: none;
	margin: 15px 0;
  }
  /* input{
    color: ;
  } */