@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
	/* background: #f3e0e2; */
    background: #E0ECF8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
h2{
    font-family: 'Lato', sans-serif;
    color:#81BEF7;
}
table.list {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-left: 3px solid #81BEF7;
    margin : 20px 10px;
  }
  table.list th {
    width: 147px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #81BEF7;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
  
  }
  table.list td {
    width: 349px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-family: 'Noto Sans KR', sans-serif;
    background: white;
  }