*{
    list-style: none;
    text-decoration: none;
    /* text-collapse: collapse; */
    margin:0px;
    padding:0px;
    color:#000;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}
body{
 margin:0;
 background-color: #6495ED ;   
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login_form{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.box{
    background-color: white;
    width: 400px;
    padding: 50px;
    margin: auto;
    position: relative;
    box-shadow: 5px 5px 5px;
    justify-content: center;
    text-align: center;
}
#sub{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}