@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Open+Sans:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
*{
    font-family:'Open Sans', serif;
    /* 나눔 명조를 못불러오면 serif로 대체 */
    unicode-range: U+0041-005A;
    unicode-range: U+0061-007A;
    
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section{
    margin-top : 20px;
    margin-bottom : 20px;
}

.row{
    margin-top : 20px;
}

.communitytitle{
    text-decoration: none;
    color: black;
}

body{
    margin:0;
    background-color:white;   
   }
   /* #e3f2fd */
.nav-item {
    color : black;
}

img {
    width: 900px;
    height: 400px;
    object-fit: cover;
  }
/* 테이블 css */
table.notice{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;   
}
table.notice th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  table.notice td {
    font-family: 'Noto Sans KR', sans-serif;
    width: 400px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  .more{
    text-align: right;
  }
  .more_text {
	color: #333;
	font-size: 13px;
	text-decoration: none;
    /* text-align: right; */
    margin-left: 50%;
	margin: 5px 0;
}
/* modal css */
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  } */
  p{
    margin-top:10px;
  }
  .container{
    width:100%;
  }
  .modal-btn-box{
    width:100%;
    text-align:center;
  }
  .modal-btn-box button{
    display:inline-block;
    width:150px;
    height:50px;
    background-color:#ffffff;
    border:1px solid #e1e1e1;
    cursor:pointer;
    padding-top:8px;
  }
  .popup-wrap{
    background-color:rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
  }
  .popup{
    width:100%;
    max-width:400px;
    background-color:#ffffff;
    border-radius:10px;
    overflow:hidden;
    background-color:#81BEF7;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
  }
  .popup-head{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .head-title {
      font-size: 38px;
      font-style: italic;
      font-weight: 700;
      letter-spacing: -3px;
      text-align: center;
  }
  .popup-body{
    width:100%;
    background-color:#ffffff;
  }
  .body-content{
    width:100%;
    padding:30px;
  }
  .body-titlebox{
    text-align:center;
    width:100%;
    height:40px;
    margin-bottom:10px;
    font-family: 'Noto Sans KR', sans-serif;
  }
  .body-contentbox{
    font-family: 'Noto Sans KR', sans-serif;
    word-break:break-word;
    overflow-y:auto;
    min-height:100px;
    max-height:200px;
  }
  .popup-foot{
    width:100%;
    height:50px;
  }
  .pop-btn{
    display:inline-flex;
    width:50%;
    height:100%;
    float:left;
    justify-content:center;
    align-items:center;
    color:#ffffff;
    cursor:pointer;
  }
  .pop-btn.confirm{
    border-right:1px solid #81BEF7;
  }