<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="뚜뚠뚜뚠" method="post">
        ID: <input type="text" name="id"><br>
        PW: <input type="password" name="pw"><br>
        이름: <input type="text" name="name"><br>
        학년:
        <input type="radio" name="grade" value=1>1학년
        <input type="radio" name="grade" value=2>2학년    
        <input type="radio" name="grade" value=3>3학년
        <input type="radio" name="grade" value=4>4학년
        <br>
        전공: <input type="text" name="major"><br>
        kubeurl: <input type="text" name="kubeurl"><br>
        <input type="submit" value="꾸욱">
    </form>
</body>
</html>