<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/fail_login.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login failed!</title>
	<meta charset="UTF-8">
</head>
<body>
    <!-- 로그인 실패시 서버팀에 찾아오라는 내용으로 글자 넣음 한글로 할지 영문으로 할지는 고민 중 -->
    <div class="container" id="container">
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Login Failed! Try again.</h1>
                    <p>Please check your ID and password again. If there is a problem, please visit Dong-A University's server room.</p>
                    <!-- <p>학번 아이디와 비밀번호를 확인 후 재시도 해주세요.</p><p> 만약, 문제가 발생했다면 동아대학교 비하버팀을 방문해주시길 바랍니다.</p> -->
                    <a href="{{url_for('logout')}}">Return to login page</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
