<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>파일 세팅</title>
</head>
<body>
	총 사용량 : {{use}}byte
	<table border = "1">
		<tr><th>이름</th><th>수정날짜</th></tr>
		{% for i in range(names|length) %}
		<tr><td>{{names[i]}}</td><td>{{dates_edit[i]}}</td></tr>
		{% endfor %}
	</table>
	<form action="/upload_back" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" />
    </form>
	<a href="{{url_for('home')}}">홈화면</a>
</body>
</html> -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>파일 세팅</title>
    <link rel="stylesheet" href="file setting.css">
</head>

<body>
    총 사용량 : {{use}}byte
    <table border="1">
        <tr>
            <th>이름</th>
            <th>수정날짜</th>
        </tr>
        {% for i in range(names|length) %}
        <tr>
            <td>{{names[i]}}</td>
            <td>{{dates_edit[i]}}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- ----------------- html ----------------- -->
    <form action="/upload_back" method="POST" enctype="multipart/form-data">
        <div class="filebox">
            <input class="upload-name" value="choose" disabled="disabled">
            <label for="file">파일선택</label>
            <input type="file" id="file" class="upload-hidden" />
            
        </div>
        <input id="sm" type="submit" />
    </form>
    <style>
        #sm {
            display: inline-block;
            padding: .5em .75em;
            color: white;
            font-size: inherit;
            line-height: normal;
            vertical-align: middle;
            background-color: #136dae;
            cursor: pointer;
            border: 1px solid #ebebeb;
            border-bottom-color: #e2e2e2;
            border-radius: .25em;
        }
    </style>
</body>
<!-- ----------------- html ----------------- -->

</html>