<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>파일 업로드</title>
    <link rel="stylesheet" href="file_setting.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/file_setting.css')}}">
</head>

<body>
    <h2>file upload</h2>
    <!-- <span class="total_use">총 사용량 : {{use}}byte</span> -->
    <div class ="tablebox">
        <!-- <caption class="total_use">총 사용량 : {{use}}byte</caption> -->
        <!-- <span class="total_use">총 사용량 : {{use}}byte</span> -->
        <table class = "list">
            {% for i in range(names|length) %}
            <tr>
                <th scope="row">{{i+1}}</td>
                <td>{{names[i]}}</td>
                <td>{{dates_edit[i]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <form action="/upload_back" method="POST" enctype="multipart/form-data">
        <input type = "file" name = "file" class ="upload-name"/>
        <input type="submit" value="업로드"/>
    </form>
</body>
<!--———————— ———————— html ———————— ————————-->

</html>