<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HTML for python flask</title>
	<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src ="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
	<script>
		$(document).ready(function()
		{
			$("#ok").on("click", function()
			{
					let j = {name:"kim", email:"kim@naver.com"};
					let d = JSON.stringify(j);
					$.ajax({
						type: 'POST',
						contentType: 'application/json',
						data: d,
						dataType: 'json',
						url: '/go_out',
						success: function (e)
						{
							console.log(e);
							//window.location = "http://192.168.57.223:5000/preview";
						},
						error: function(error)
						{
							console.log(error);
						}
					});
			})
		});
	</script>
</head>

<body>
	<h2>{{value}}</h2>
	<a href= "{{url_for('loginFront')}}">로그인</a><br>
	<a href= "{{url_for('joinFront')}}">회원가입</a><br>
	<button id="ok">제이슨 전달</button>
</body>
</html>